<div class="pokemon-list">
  <div *ngIf="isLoading" class="loading-container">
    <img src="assets/images/pokeball.png" alt="Loading" class="pokeball">
    <div class="loading-text">{{ 'POKEMON_LIST.LOADING' | translate }}</div>
  </div>
  
  <div *ngIf="error">{{ error }}</div>
  
  @for (pokemon of pokemons; track pokemon.id) {
    <div class="pokemon-card" [ngStyle]="{'background-color': getTypeColor(getPrimaryType(pokemon))}" (click)="openModal(pokemon)">
      <img [src]="pokemon.sprites.front_default" [alt]="pokemon.localizedName" />
      <h3>{{ pokemon.localizedName }}</h3>
      <div class="types">
        @for (type of pokemon.localizedTypes; track type) {
          <span class="badge" [ngStyle]="{'background-color': getTypeColor(type)}">
            {{ 'TYPES.' + type | translate }}
          </span>
        }
      </div>
    </div>
  } @empty {
    <p>{{ 'POKEMON_LIST.NO_POKEMON' | translate }}</p>
  }
  
  <div class="button-container">
    <button 
      class="load-more-btn" 
      (click)="loadMorePokemon()" 
      [disabled]="isLoadingMore || isLoading">
      <span *ngIf="!isLoadingMore">{{ 'POKEMON_LIST.LOAD_MORE' | translate }}</span>
      <span *ngIf="isLoadingMore" class="loading-indicator">
        <img src="assets/images/pokeball.png" alt="Loading" class="pokeball-small">
        {{ 'POKEMON_LIST.LOADING_MORE' | translate }}
      </span>
    </button>
    
    <button 
      class="load-all-btn" 
      (click)="loadAllPokemon()" 
      [disabled]="isLoading || isLoadingMore">
      {{ 'POKEMON_LIST.LOAD_ALL' | translate }}
    </button>
  </div>
  
  @if (selectedPokemon) {
    <div class="modal-backdrop" (click)="closeModal()">
      <div class="modal-content" [ngStyle]="{'background-color': getTypeColor(getPrimaryType(selectedPokemon))}" (click)="$event.stopPropagation()">
        <span class="close-btn" (click)="closeModal()">&times;</span>
        
        <div class="modal-header">
          <h2>#{{ selectedPokemon.id }} {{ selectedPokemon.name | titlecase }}</h2>
          <img [src]="selectedPokemon.sprites.front_default" [alt]="selectedPokemon.name" />
        </div>
        
        <div class="modal-body">
          <div class="section">
            <h3>{{ 'POKEMON_LIST.TYPES' | translate }}</h3>
            <div class="types">
              @for (type of selectedPokemon.types; track type.type.name) {
                <span class="badge" [ngStyle]="{'background-color': getTypeColor(type.type.name)}">
                  {{ 'TYPES.' + type.type.name | translate }}
                </span>
              }
            </div>
          </div>
          
          <div class="section">
            <h3>{{ 'POKEMON_LIST.ABILITIES' | translate }}</h3>
            <ul class="abilities-list">
              @for (ability of selectedPokemon.abilities; track ability.ability.name) {
                <li>{{ ability.localizedName }}</li>
              }
            </ul>
          </div>
          
          <div class="section">
            <h3>{{ 'POKEMON_LIST.MOVES' | translate }}</h3>
            <div class="moves-list">
              @for (move of selectedPokemon.localizedMoves; track move.move.name) {
                <span class="move">{{ move.localizedName }}</span>
              }
            </div>
          </div>
        </div>
      </div>
    </div>
  }
</div>
